body {
		background-color: "#E9E9E9";
		background-image: url("../images/bg111.jpg");
	}
h6, .h6 { font-family : "MS sans Serif" ; color : #000000 ; font-size : 12px ; text-indent : 20.0px ; margin : 0px ; font-weight : normal }
h5, .h5 { font-family : "MS sans Serif" ; color : #3300ff ; font-size : 14px ; text-indent : 0.0px ; margin : 0px ; font-weight : bold }
h4, .h4 { font-family : "MS sans Serif" ; color : #000000 ; font-size : 16px ; text-indent : 0.0px ; margin : 0px ; font-weight : bold }
a:link{ color: #6600ff; text-decoration: none}
a:visited{ color: #339900; text-decoration: none}
a:active{ color: #0000FF; text-decoration: none}
a:hover{ color: #0099FF; text-decoration: none}
